{{define "title"}}About{{end}}
{{define "main"}}
    <table class="pair_table">
        <tr>
            <th>Frontend</th>
            <td>Go (<a href="https://pkg.go.dev/html/template">html/template</a>)</td>
        </tr>
        <tr>
            <th>Backend</th>
            <td>Go (<a href="https://pkg.go.dev/net/http">net/http</a> + <a href="https://github.com/julienschmidt/httprouter">httprouter</a>)</td>
        </tr>
        <tr>
            <th>Database</th>
            <td>PostgreSQL (<a href="https://github.com/jackc/pgx">pgx</a>)</td>
        </tr>
    </table>
    <p>
        A collection of everyday internet utilities
    </p>
    <p>
        Built on top of <a href="https://lets-go.alexedwards.net/">Let's Go</a>
    </p>
{{end}}