{{define "title"}}About{{end}}
{{define "main"}}
    <table>
        <tr>
            <th>Frontend</th>
            <td>Go's <a href="https://pkg.go.dev/html/template">html/template</a></td>
        </tr>
        <tr>
            <th>Serverside</th>
            <td>Go Standard Library</td>
        </tr>
        <tr>
            <th>Database</th>
            <td>MySQL</td>
        </tr>
    </table>
    <br>
    <p>
        Pastebin, kinda. Public facing, but not for the public.
    </p>
    <p>
        Tinyurl, kinda. Also not for the public.
    </p>
    <p>
        Other clones on the way...
    </p>
{{end}}