{{define "title"}}Bill Split{{end}}
{{define "main"}}
    <form action="/bill_split" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
        <div>
            <input type="file" name="file" id="file" accept="image/jpeg" required>
        </div>
        <div>
            <input type="submit" value="Upload">
        </div>
    </form>
    {{if .BillItems}}
        <table id="split_table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {{range .BillItems}}
                <tr>
                    <td data-type="iname" contenteditable="true">{{.Name}}</td>
                    <td data-type="price" contenteditable="true">{{.Price}}</td>
                    <td data-type="quantity" contenteditable="true">{{.Quantity}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    {{end}}
{{end}}
