{{define "title"}}About{{end}}
{{define "main"}}
    <h2>Change Password</h2>
    <form action='/account/password/update' method='POST' novalidate>
        <!-- Include the CSRF token -->
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div>
            <label>Current Password:</label>
            {{with .Form.FieldErrors.currentPassword}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='current_password' value='{{.Form.CurrentPassword}}'>
        </div>
        <div>
            <label>New Password:</label>
            {{with .Form.FieldErrors.newPassword}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='new_password' value='{{.Form.NewPassword}}'>
        </div>
        <div>
            <label>Confirm Password:</label>
            {{with .Form.FieldErrors.newPasswordConfirm}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='new_password_confirm' value='{{.Form.NewPasswordConfirm}}'>
        </div>
        <div>
            <input type='submit' value='Change Password'>
        </div>
    </form>
{{end}}
